.spinner-loader {
  flex-direction: column;
  justify-content: space-evenly;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  .spinner {
    font-size: 2.5rem;
    width: 1em;
    height: 1em;
    fill: transparent;
    stroke: $clr1;
    stroke-width: 4;
    stroke-linecap: round;
    stroke-dasharray: 125;
    animation: spinner 4s linear infinite;
  }

  @keyframes spinner {
    0% {
      stroke-dashoffset: 25;
      transform: rotate(0deg);
    }
    50% {
      stroke-dashoffset: 125;
      transform: rotate(720deg);
    }
    100% {
      stroke-dashoffset: 25;
      transform: rotate(1080deg);
    }
  }

  .spinner > circle {
    fill: transparent;
  }
}
