.search-conatiner {
  position: relative;
  .search-input {
    background-color: white;
    gap: 10px;
    width: 100%;
    padding: 8px 8px;
    max-width: 600px;
    border-radius: $frmrad;
    margin: 0 auto;
    img {
      height: 24px;
      width: 24px;
      opacity: 0.5;
    }
  }
  .search-result-holder {
    margin: 0 auto;
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    max-width: 600px;
  }
}
