.container {
  padding: 0 16px;
  min-height: calc(100vh - 52px - 64px);
  .fit-media,
  > :not(.full) {
    max-width: $normal-breakpoint;
    margin: 0 auto;
    @include for-mobile-layout {
      max-width: initial;
    }
    @include for-tablet-layout {
      max-width: $mobile-breakpoint;
    }
    @include for-normal-layout {
      max-width: $tablet-breakpoint;
    }
    @include for-wide-layout {
      max-width: $normal-breakpoint;
    }
  }
  // overflow: hidden;
}

.dark {
  color: $clrwht;
  background-color: $clrblk;
  header {
    img {
      filter: invert(1);
    }
  }
  img.bwicon {
    filter: invert(1);
  }
}

.rounded {
  border-radius: $frmrad;
}

.shadow {
  box-shadow: 0 8px 8px 0 rgba(51, 48, 48, 0.2),
    0 -8px 24px 0 rgba(234, 224, 218, 0.3);
}

.hover-box {
  box-shadow: 0 0 0 1px rgba(87, 87, 87, 0.1),
    0 8px 8px 0 rgba(234, 224, 218, 0.3);
  border-radius: $frmrad;
  transition: all 0.1s ease-in-out;
  @media not all and (pointer: coarse) {
    &:hover {
      box-shadow: 0 8px 8px 0 rgba(51, 48, 48, 0.2),
        0 -8px 24px 0 rgba(234, 224, 218, 0.3);
    }
  }
}
